.completed {
  text-decoration: line-through;
}

.not-completed {
  text-decoration: none;
}

.task {
  cursor: pointer;
}

.actions {
  text-align: right;
}

input,
button {
  border: 2px solid #c0c0c0;
  font-size: 1.25rem;
  padding: 5px;
  border-radius: 5px;
}

button.edit {
  background-color: #20a0b0;
  color: antiquewhite;
}

button.save {
  background-color: limegreen;
  color: antiquewhite;
}

button.delete {
  background-color: #e04040;
  color: antiquewhite;
}
