.Ball {
    background-color: powderblue;
    border-radius: 50%;
    color: darkred;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    font-size: 1.5em;
    font-weight: bolder;
}