.Lottery {
    border: 2px solid goldenrod;
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
    width: 40em;
}

.Lottery button {
    background-color: orange;
    color: black;
    font-size: 1.2em;
    border-radius: 8.5px;
    margin-top: 1.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}